.container {
	margin-top: 15px;
	border-radius: 15px;
	color: black;
}

.clear {
	margin-top: 10px;
}

.bg-normal {
	background-color: #d9edf7;
}

.fix-height {
	height: 500px;
}

.jumbotron {
	color: #dff0d8;
	background-color: #286090;
}

.left-nav {
	color: black;
	height: 500px;
	background: yellow;
}

.logo {
	height: 90px;
	border: 1px black solid;
	margin-bottom: 10px;
}

.rightnavbody {
	background: 3BB5Dc;
}

.bg-form {
	margin-top: 25px;
	border-radius: 15px;
	padding: 20px;
	background: #898989;
	color: black;
}

.error {
	color: red;
}

.form-group {
	width: 80%;
}

.form-input-names {
	display: inline-block;
}

.form-input-text {
	width: 30%;
	border-radius: 3px;
	margin-right: 25px;
}

.bg-container
{
	background-color: #2f2f2f;
}
.bg-white
{
	background: white;
}