.container
{
	margin-top: 15px;
	border-radius: 15px;
	color : black;
}

.clear
{
	margin-top: 10px;
}
.bg-normal
{
	background-color: white;
}
.fix-height
{
	height: 500px;
}
.jumbotron
{
	color: #dff0d8;
    background-color: #286090;
}
.left-nav
{
	color : black;
	height: 500px;
	background: yellow;
}
.logo
{
	height: 90px;
	border : 1px black solid;
	margin-bottom: 10px;
}
.rightnavbody
{
	background: 3BB5Dc;
}
.bg-form
{
	margin-top:25px;
	border-radius: 15px;
	padding : 20px;
	background: #3BB5Dc;
	color: black;
}
.error
{
	color: red;
}