<h3>Create Branch</h3>

<form class="bg-form" ng-submit="createBranch()" >
   <div class="form-group">
		<div class="form-input-names">
			<label>IFSC Code : </label>
				<input type="text" pattern="^[^\s]{4}\d{6}$"
					title="eg. IFSC code: ANDB000147 as first 4 are alphabets and last 6 are numerics" class="form-input-text" name="ifscCode" 
					placeholder="Enter IFSC Code" ng-model="ifscCode" required> 
				<br>
			<label>Branch Name : </label>
				<input type="text" pattern="[A-Za-z]*" title="Enter Characters Only" 
					class="form-input-text" name="branchName"
					placeholder="Enter Branch Name" ng-model="branchName" required>
				<br>
			<label>Contact :</label>
				<input type="text" class="form-control text" name="contact"
					pattern="[0-9]{8,10}" title="Enter Number of 8-10 digits Only"
					placeholder="Enter Phone Number" ng-model="contact" required>
				<br>
			<label>Address : </label>
				<input type="text" class="form-control text" name="address" 
				title="Enter Valid Address"
				placeholder="Enter Address" ng-model="address" required> 
				<br>
		</div>
	</div> 
	<br><br><br>
	<input class="btn btn-default" type="submit" value="Create">
</form>
