<html>
<head>
	<title>Create Branch</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	<div class="login">
		<h4>Create Branch</h4>
			<hr>
        		<form class="login-inner" action="http://localhost:8080/createBranch" method="post">
    				
    				<label>IFSC Code: </label><input type="text" class="form-control text" name="ifscCode" placeholder="Enter IFSC Code" required>
    				<label>Branch Name: </label><input type="text" class="form-control text" name="branchName" placeholder="Enter Branch Name" required>
    				<label>Phone: </label><input type="text" class="form-control text" name="phone" placeholder="Enter Phone Number" required>
    				<label>Address: </label><input type="text" class="form-control text" name="address" placeholder="Enter Address" required>
    				<br><br><br>
					
					<input class="btn btn-block btn-lg btn-success submit" type="submit" value="Create">
				</form>
			
	</div>


</div>
</body>
</html>